.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 100%;
}

.imageSection {
	height: 100%;
}

.textSection {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
