:root {
	--primary-font: 'Arial', 'sans-serif';
	--primary-text-color: #000;

	--header-name-size: 1.5rem;
	--header-name-line-height: 2rem;
	--entry-headline-size: 1.5rem;
	--header-highlights-size: 1.25rem;

	--left-column-gap: 6rem;
}

.container {
	max-width: 816px;
	margin: auto;
	background-color: transparent;
	font-family: var(--primary-font);
	font-size: 12px;
	line-height: 1rem;
	text-align: justify;
}
