.container {
	margin-top: var(--separation-band);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.titleSection {
	flex-basis: var(--left-column-gap);
	flex-grow: 0;
	flex-shrink: 0;
	font-size: var(--entry-headline-size);
}

.jobListSection {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
